#user-login-form {
  display: block;
}

#user-login-form .visible-fields-wrapper {
  display: table;
  width: 100%;
}

#user-login-form .label-and-field-wrapper {
  display: table-row;
}

#user-login-form .label-and-field-wrapper span {
  display: table-cell;
  vertical-align: middle;
  padding: 1em 2em 1em 0;
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb;
}

#user-login-form .label-and-field-wrapper span.button-wrapper {
  padding-right: 0;
}

#user-login-form .label-and-field-wrapper span:first-child {
  width: 10%; /*small width to keep text and buttons close*/
}

#user-login-form .label-and-field-wrapper:last-child span {
  border-bottom: none;
}

#user-login-form .label-and-field-wrapper input {
  display: inline-block;
  vertical-align: middle;
}

#user-login-form input#edit-id-card-submit,
#user-login-form input#edit-mobile-id-submit {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  width: 88px;
  height: 33px;
  line-height: 33px;
  border: none;
  text-align: left;
  text-indent: -9999em;
  background-repeat: no-repeat;
}

#user-login-form input#edit-id-card-submit {
  background-image: url(../images/id-kaart-logo.png);
}

#user-login-form input#edit-mobile-id-submit {
  background-image: url(../images/mid-logo.png);
}
